.search-results {
  display: flex;
  flex-direction: column;
}

.category {
  margin-bottom: 1.5rem;
}
.category:first-of-type {
  margin-top: 1.5rem;
}

.category-shows {
  display: flex;
  overflow-x: auto;
  width: calc(100vw - 3rem);
}

.show-item {
  margin-right: 0.5rem;
  position: relative;
}

.rating {
  position: absolute;
  top: 0;
  right: 0;
  width: min-content;
  background-color: black;
  text-align: center;
  font-size: smaller;
}

.rating i {
  color: orange;
}

.show-info.skeleton {
  width: 100px;
  height: 2rem;
  margin-bottom: 0.5rem;
}
