<div class="search-conatiner">
  <div class="search-results">
    <!-- Search Results section -->
    <ng-container *ngIf="searchResults; else loading">
      <div class="category" *ngFor="let item of getGenres()">
        <div class="section-title">{{ item }}</div>
        <div class="category-shows">
          <ng-container *ngFor="let show of searchResults[item]">
            <a class="show-item" (click)="goToDetailsPage($event, show.id)">
              <img
                width="200"
                height="240"
                class="show-image"
                src="{{
                  show.image?.medium ||
                    show.image?.original ||
                    '../../assets/images/no-preview.png'
                }}"
                alt="show banner"
              />
              <span class="rating">
                <i class="large material-icons">star</i>
                {{ show.rating?.average?.toFixed(1) || "n/a" }}
              </span>
            </a>
          </ng-container>
        </div>
      </div>
    </ng-container>

    <ng-template #loading>
      <div class="category" *ngFor="let item of defaultGenres">
        <div class="show-info skeleton"></div>
        <div class="category-shows">
          <ng-container *ngFor="let show of skeletonList">
            <div class="show-item">
              <img width="200" height="240" class="show-image skeleton" />
            </div>
          </ng-container>
        </div>
      </div>
    </ng-template>
  </div>
</div>
