<div class="header">
  <a [routerLink]="['/dashboard']">
    <img
      height="50"
      width="150"
      alt="logo"
      src="../../assets/images/site_logo.png"
    />
  </a>
  <div class="search-field" *ngIf="isLoggedIn()">
    <div class="inline-field">
      <input
        type="text"
        name="query-input"
        placeholder="Type to search shows..."
        type="search"
        [(ngModel)]="query"
      />
      <button (click)="onSearch()">
        <i role="button" class="large material-icons">search</i>
      </button>
    </div>
  </div>
</div>
